<!DOCTYPE html>@{ layout = null; }
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/css/Site.css")">
    <script src="@Url.Content("~/js/jquery-min.js")"></script>
</head>
<body>
	<header>
	    <div class="content-wrapper">
	        <div class="float-left">
	            <p class="site-title">
	                <a href="@Url.Content("~/")">@ViewBag.Title</a>
	            </p>
	        </div>
	        <ul class="menu">	        	
	            <li><a href="/">Backend:</a>
	            <li><a href="/random">GET /random</a>
	            <li><a href="/calc/13*3">GET /calc/13*3</a>
	        </ul>
	        <ul class="menu">
	            <li><a href="@Url.Content("~/Home/Index")">Home</a>
	            <li><a href="@Url.Content("~/Values")">API Values</a>
	            <li><a href="/playground.html">Playground</a>
	            <li><a href="@Url.Content("~/Home/About")">About</a>
	        </ul>
	    </div>
	</header>

    @renderBody()	
    
    @renderSection("scripts")
</body>
</html>